<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363959909178-3eq2taflst4201de6e8u5uv2terd6cam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363959909178-3eq2taflst4201de6e8u5uv2terd6cam</string>
	<key>API_KEY</key>
	<string>AIzaSyC5e8CoCZElw_4wP1abML0YSa01Pyvx3Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>363959909178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toptanciOtomasyon</string>
	<key>PROJECT_ID</key>
	<string>toptanci-otomasyon</string>
	<key>STORAGE_BUCKET</key>
	<string>toptanci-otomasyon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363959909178:ios:09d24e53860ccd8f4c2e03</string>
</dict>
</plist>